---
id: neverbounce-email-verification
title: NeverBounce Email Verification
sidebar_label: NeverBounce Email Verification
---


Check if the email is a valid one or not.

## Parameter Reference
| Parameter | Description | Supports Tokens | Default |
| -- | -- | -- | -- |
| Email | Required. The field or the token for checking the email needed to be checked. | No | None |
| Output Request Status TokenName | Optionally provide a token name where to store api reponse for success for more details see api documentation. The token can be used in next actions down the stack. | No | None |
| Output Result TokenName | Optionally provide a token name where to store api reponse for result for more details see api documentation. The token can be used in next actions down the stack. | No | None |
| Output Result Detail TokenName | Optionally provide a token name where to store api reponse for result_detail for more details see api documentation. The token can be used in next actions down the stack. | No | None |
| Output Execution Time TokenName | Optionally provide a token name where to store api reponse for execution_timefor more details see api documentation. The token can be used in next actions down the stack. | No | None |
