---
id: setup-neverbounce-email-verification
title: Setup NeverBounce Email Verification
sidebar_label: Setup NeverBounce Email Verification
---


Setup the cretendials to use for the NeverBounce API.

## Parameter Reference
| Parameter | Description | Supports Tokens | Default |
| -- | -- | -- | -- |
| API Secret Key | Required. Your api key from Neverbounce in order to authenticate and establish a secure session. | No | None |
| API Username | Required. Your Username from Neverbounce in order to authenticate and establish a secure session. | No | None |
| Accept a domain-wide email | If you want to consider catch all emails as vaild. We recommmend you do not.See more | No | None |
