<ul>
    {% for treepage in include.pages %}
        <li>
            <span class="d-inline-flex align-items-center">
                {% if treepage.url %}
                    <a href="{{treepage.url | relative_url}}">
                    {{treepage.title}}</a>
                    {%if treepage.subpages.size > 0 or treepage.ref%}
                    <i class="icon-plus-sign" style="margin-left:3px"></i>
                    {%endif%}
                {% else %}
                    {{treepage.title}}
                {% endif %}
            </span>
            {% if treepage.ref %}
                {%assign module_pages = site.data.menu[treepage.ref] %}
                {% include menu.html pages=module_pages %}
            {% else %}
                {% if treepage.subpages.size > 0 %}
                    {% include menu.html pages=treepage.subpages %}
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>