<ul role="group" aria-expanded="false">
    {% for treepage in include.pages %}
        {% if treepage.subpages.size == 0 %}
            {% assign itemRole = "none" %}
        {% endif %}
        {% if treepage.url %}
            {% if treepage.subpages.size > 0 %}
                {% assign itemRole = "treeitem" %}
            {%endif%}
        {% endif %}
        <li role="{{itemRole}}" aria-expanded="false">
            <span class="d-flex align-items-center">
                <a href="{{treepage.url | relative_url}}">
                {{treepage.title}}</a>
            </span>
            {% if treepage.ref %}
                {%assign module_pages = site.data.menu[treepage.ref] %}
                {% include menu.html pages=module_pages %}
            {% else %}
                {% if treepage.subpages.size > 0 %}
                    {% include menu.html pages=treepage.subpages %}
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>