---
---
@import "{{ site.theme }}";

.main-content {
    margin: initial;
}

@media screen and (min-width: 64em) {
    .main-content {
        padding: 0;
    }
}

.page-header {
    width: 100%;
    padding: 20px 0 20px 0;
    position: fixed;
    z-index: 9999;
}

.row.breadcrumb-container {
    margin-top: 100px;
}

.row.breadcrumb-container nav {
    width: 100%;
}

.main-content-wrapper {
    margin-top: 20px;
}

header {
    transition-property: width;
    transition-duration: 0.5s;

    img {
        width: 50%;
    }
}

.show-md {
    display: initial;
}

.hide-md {
    display: none;
}

.project-name {
    font-size: 1.55rem;
    flex-grow: 2;
}

.page-header .menu-toggle {
    flex-grow: 1;
}

.menu-toggle>i {
    cursor: pointer;
}

#sidebar-wrapper .menu-toggle {
    display: none;
}

#results-container::-webkit-scrollbar-track, #sidebar-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#results-container::-webkit-scrollbar, #sidebar-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#results-container::-webkit-scrollbar-thumb, #sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: gainsboro;
}

.page-header .input-group {
    margin-bottom: 0;
    color: white;

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white !important;
        opacity: 1 !important;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white !important;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white !important;
    }

    .form-control {
        color: inherit;
    }

    span {
        height: auto;
        display: flex;
        align-items: center;
        // margin-left: -20px;
    }

    input {
        height: 20px;
    }

    ul {
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        z-index: 9999;
    }
}

.main-tree>ul {
    padding-left: 0;
}

.tree>ul {
    padding: 0
}

.tree>ul>li>span {
    margin-left: 5px;
}

.tree {
    min-height: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    position: relative
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none
}

.tree li.parent_li>span {
    cursor: pointer
}

.tree li.parent_li>span:hover,
.tree li.parent_li>span:hover+ul li span,
.tree ul li span:hover {
    background: #eee;
    // border: 1px solid #94a0b4;
    box-shadow: 0 0 0 1px #94a0b4;
    color: #000
}

.search-result-title {
    font-weight: 800;
}

.search-result-path {
    font-size: 13px;
    margin-top: -3px;
}

.tree-current-item {
    background: #eee;
}

@media(max-width:768px) {
    .show-md {
        display: none;
    }

    .hide-md {
        display: initial;
    }

    .main-content-mw {
        max-width: 100vw;
    }

    .main-content-wrapper {
        margin-top: 35px;
    }

    #wrapper.mobile-untoggled {
        padding-left: 0vw !important;

        #sidebar-wrapper {
            width: 0vw !important;
        }

        header {
            width: 100vw !important;
        }
    }

    .page-header {
        width: 100%;
        padding: 5px 0 10px 0;
    }

    #sidebar-wrapper .menu-toggle {
        display: inline-block;
        color: black;
        max-height: 50px;
        position: fixed;
        left: 80vw;
        top: 1vh;
        width: initial;
    }

    #wrapper .menu-toggle {
        padding: 5px 5px 5px 5px;
        font-size: 22px;
    }

    .project-name {
        font-size: 1.25rem;
        font-weight: 800;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }
}

#results-container {
    max-height: 90vh;
    overflow: auto;
}