/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009688;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

/*Homepage academy*/

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.hero.hero--primary {
    background-image: url(https://academy.plantanapp.com/Portals/0/img/Home_navxp_icon.png?ver=qi8HdT3xO1fIPzutXtyyoQ%3d%3d);
    background-size: contain;
    background-color: #041323;
    background-repeat: no-repeat;
}

.hero .hero__title {
    color: white;
}

.hero .hero__subtitle {
    color: white;
}

/*overwrite Search default*/
.aa-DetachedSearchButton{
	  width: 250px !important;
    height: 32px !important;
    border-radius: 20px !important;
    border-width: 1px !important;
}

:root {
--aa-primary-color-rgb: 4,19,35 !important; 
}

.aa-Form {
	border-radius: 20px !important;
    height: 40px !important;
}
