<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta charset="UTF-8"> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3523643-22"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-3523643-22');
    </script>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css?{{site.time | date: '%s%N'}}">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css?{{site.time | date: '%s%N'}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css?{{site.time | date: '%s%N'}}">
</head>

<body class="container-fluid">
    <div id="wrapper" class="toggled mobile-untoggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="text-center" target="_blank" href="//plantanapp.com">
                        <img src="https://static.plantanapp.com/plantanapp-logo-black.png" width="180" alt="logo">
                    </a>
                </li>
                <li class="tree">
                    {% include menu.html pages = site.data.menu.main %}
                </li>
            </ul>
            <span class="menu-toggle"><i class="fas fa-bars"></i></span>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
            <div class="row">
                <header class="page-header d-flex align-items-center justify-content-around" role="banner">
                    <span class="menu-toggle"><i class="fas fa-bars"></i></span>
                    <h1 class="project-name">
                        <span class="show-md">{{ site.title | default:site.github.repository_name }}</span>
                    </h1>
                    <div class="input-group col-md-3" style="margin-right:20px;">
                        <input type="text" class="form-control" id="search-input" placeholder="Search...">
                        <span><i class="fas fa-search" aria-hidden="true"></i></span>
                        <ul class="list-group list-unstyled" id="results-container"></ul>
                    </div>
                </header>
            </div>
            <div class="row breadcrumb-container">
                    <nav aria-label="breadcrumb" id="breadcrumb"></nav>
            </div>
            <div class="row main-content-wrapper main-content-mw">
                    
                <main id="content" class="main-content mx-auto main-content-mw" role="main">
                    {{ content }}
                </main>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/assets/js/tree-menu.js?{{site.time | date: '%s%N'}}"></script>
    <script src="/assets/js/script.js?{{site.time | date: '%s%N'}}"></script>

</body>

</html>