<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta charset="UTF-8"> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3523643-22"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-3523643-22');
    </script>
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/simple-sidebar.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body class="container-fluid">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="text-center" target="_blank" href="//dnnsharp.com">
                        <img src="https://static.dnnsharp.com/logo/DNNSharp-Logo-62x180.png" alt="logo">
                    </a>
                </li>
                <li class="tree">
                    {% include menu.html pages = site.data.menu.main %}
                </li>
            </ul>
            <span class="menu-toggle"><i class="fas fa-bars"></i></span>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
            <div class="row">
                <header class="page-header d-flex align-items-center justify-content-around" role="banner">
                    <span class="menu-toggle"><i class="fas fa-bars"></i></span>
                    <h1 class="project-name"><span>{{ site.title | default:site.github.repository_name }}</span></h1>
                    <!-- <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
                    <div class="input-group col-md-3">
                        <input type="text" class="form-control" id="search-input" placeholder="Search...">
                        <span><i class="fas fa-search" aria-hidden="true"></i></span>
                        <ul class="list-group list-unstyled" id="results-container"></ul>
                    </div>
                </header>
            </div>
            <div class="row" style="margin-top: 125px;">
                <div class="offset-sm-2 col-sm-9">
                    <main id="content" class="main-content" role="main">
                        {{ content }}
                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{{'/assets/js/simple-jekyll-search.js?v='|append: site.github.build_revision | relative_url }}'"></script>
    <script src="{{'/assets/js/tree-menu.js?v='|append: site.github.build_revision | relative_url }}'"></script>
    <script src="{{'/assets/js/script.js?v='|append: site.github.build_revision | relative_url }}'"></script>

</body>

</html>